{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>About Survey Tools</h2>
        <p>This is meant to be a online resource that can be used by surveyors in the field to make simple computations.</p>
        <p>It has the following abilities:</p>
        <ol>
            <li>Compute area based on coordinate inputs</li>
        </ol>
        <p>It still under active development with the intention of adding the following features:</p>
        <ol>
            <li>Provide map interface for input of coordinates</li>
            <li>Create api endpoints</li>
            <li>Develop and link to an android app</li>
            <li>Integrate the user model</li>
            <li>Allow user to save edits</li>
            <li>Share land specs on social media</li>
        </ol>
        <hr>
        <p>Contributors:</p>
        <ol>
            <li><a href="https://github.com/ngenovictor">Ngeno Victor</a></li>
        </ol>
        <p>The source code is available on <a href="https://github.com/ngenovictor/surveycomputations" target="_blank">Github</a></p>
        <p>Follow me on <a href="https://twitter.com/veekay254" target="_blank">Twitter</a></p>
        <p>Feel free to <a href="mailto:ngenovictor321@gmail.com">contact me</a></p>

         <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feed_back_inputs">
          Click Here To Give Feedback
        </button>
    </div>



<!-- Modal -->
    <div class="modal fade" id="feed_back_inputs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">We appreciate Feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="feedback_form">
                    <input type="text" hidden value={% url 'give_feedback' %} id="feedback_url">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" name="name" required id="feed_back_name">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="email" class="form-control" name="email" required id="feed_back_email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" cols="30" rows="10" class="form-control" required id="feed_back_message"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Send Feedback</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{#message feedback modal#}
    <div class="modal fade" id="thank_you_feedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body" id="feedback_message">
                    Thank you for your feedback.
                    </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{# end modal#}
{% endblock content %}