{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>About Survey Tools</h2>
        <p>This is meant to be a online resource that can be used by surveyors in the field to make simple computations.</p>
        <p>It has the following abilities:</p>
        <ol>
            <li>Compute area based on coordinate inputs</li>
        </ol>
        <p>It still under active development with the intention of adding the following features:</p>
        <ol>
            <li>Provide map interface for input of coordinates</li>
            <li>Create api endpoints</li>
            <li>Develop and link to an android app</li>
            <li>Integrate the user model</li>
            <li>Allow user to save edits</li>
            <li>Share land specs on social media</li>
        </ol>
        <hr>
        <p>Contributors:</p>
        <ol>
            <li><a href="https://github.com/ngenovictor">Ngeno Victor</a></li>
        </ol>
        <p>The source code is available on <a href="https://github.com/ngenovictor/surveycomputations">Github</a></p>
        <p>Follow me on <a href="https://twitter.com/veekay254">Twitter</a></p>
        <p>Feel free to <a href="mailto:ngenovictor321@gmail.com">contact me</a></p>
    </div>

{% endblock content %}