{% extends "base.html" %}
{% load static %}
{% block additional-styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<link rel="stylesheet" href="{% static 'css/compute_area.css' %}">
{% endblock additional-styles %}
{% block additional-scripts %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script type="text/javascript" src="{% static 'js/compute_area.js' %}""></script>
{% endblock additional-scripts %}

{% block content %}
{% if area %}
The area of {{ coordinates }} is <strong>{{ area }}</strong>.
{% endif %}

<div class="container">
  <h1>Area computation</h1>
  <div>
    <p>Compute the area of a part of the map. Use the map below to select.</p>
  </div>
  <hr>
  <div class="row">
    <div class="col" id="map">
    </div>
  </div>
</div>
{% endblock content %}