{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content" id="home-content">
    <div class="row">
        <h1>Survey Tools</h1>
    </div>
    <div class="row" id="services-content">
        <div class="col-md-4">
            <img src="{% static 'img/calculating-acreage.png' %}" alt="" class="service-image">
            Compute Area
        </div>
        <div class="col-md-4">
            <img src="{% static 'img/for-sale.jpg' %}" alt="" class="service-image">
            Sell Land
        </div>
        <div class="col-md-4">
            <img src="{% static 'img/buy-land-now.jpg' %}" alt="" class="service-image">
            Buy Land
        </div>
    </div>
</div>
{% endblock content %}